<div class="container">
  <div class="row">
    <div class="mx-auto">
     <h2>Books Edit</h2>
     <% if @book.errors.any? %>
       <%= @book.errors.count %>件のエラーが発生しました
       <ul>
         <% @book.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
       </ul>
     <% end %>
       <%= form_with model: @book, method: :patch do |book| %>
        <P>Title</P>
         <%= book.text_field :title %>
        <P>Opinion</P>
         <%= book.text_area :body %><br>
         <%= button_tag type: "submit", class: "btn btn-warning" do %>
         <i class="fas fa-pen"></i>ここ押したら変えれるで!
         <% end %>
       <% end %>
    </div>
  </div>
</div>